<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>" />

    <meta name="robots" content="follow, index" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.detail %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.detail %>" />
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.detail %>" />

    <meta property="og:url" content="https://leatsophat.me/" />
    <link rel="canonical" href="https://leatsophat.me/" />

    <meta property="og:type" content="website" />
    <meta property="og:image" content="./assets/profile.png" />
    <meta name="twitter:image" content="./assets/profile.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://twitter.com/infoSophat" />
    <meta name="next-head-count" content="18" />

    <link rel="apple-touch-icon" sizes="76x76" href="./assets/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png" />
    <link rel="manifest" href="./assets/site.webmanifest" />
    <link rel="mask-icon" href="./assets/safari-pinned-tab.svg" color="#5bbad5" />

    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fff" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000" />
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="tsparticles"></div>
</body>
</html>